* {
  box-sizing: border-box;
  text-align: center;
}
body {
	/*margin: 0;
	padding: 0;*/
	background: #efeee7;
	border-style: solid;
	border-width: 1px;
}
header {
	background: #d21034;
	border-style: solid;
	border-width: 1px;
}
h1 {
	background: lightpink;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}
h2 {
	/*border-style: solid;
	border-width: 1px;*/
	/*width: 25%;*/
	color: purple;
	background: lightblue;
	text-align: center;
}
h3 {
	color: darkblue;
	text-align: center;
	background: darkgray;
}
img {
/*	border-style: solid;
	border-width: 1px;
	height: 30%;*/
	width: 80%;
	overflow: auto;
}
p {
	background: #61dafb;
	border-style: solid;
	border-width: 1px;
}